<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Pattaya|VT323|Work+Sans" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1 class="homesection-title"> Chatter2002 </h1>
		<h4 class="homesection-subtitle"> Chat Room Like It's 2002 </h4>
	</header>
	<section>
		<div class="navbar-container">
			<div> <a href="#"> Chat Room </a> </div>
			<div> <a href="#"> About Us </a> </div>
			<div> <a href="#"> Rules </a> </div>
		</div>
	</section>
	<section>
		<div class="homesection">
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="button-text-small">Create a Private</div>
					<div id="button-text-big">CHAT ROOM!</div>
				</div>
			</a>
		</div>
		<div class="homesection-picture-gallery">
			<img src="./img/200.gif"/>
			<img src="./img/200.gif"/>
			<img src="./img/200.gif"/>
		</div>
		<div class="homesection-picture-gallery">
			<img src="./img/queenla.gif"/>
			<div class="text"> Whatchu Been Waiting For </div>
			<img src="./img/queenla.gif"/>
		</div>
		<div class="homesection-picture-gallery">
			<img src="./img/halle.gif"/>
			<img src="./img/halle.gif"/>
			<img src="./img/halle.gif"/>
		</div>
	</section>
	<section class="footer">
		<div class="navbar-container">
			<div> <a href="#"> Chat Room </a> </div>
			<div> <a href="https://shakalee14.github.io/"> Made By Shaka Lee </a> </div>
			<div> <a href="#"> About Us </a> </div>
			<div> <a href="#"> Rules </a> </div>
		</div>
	</section>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/client.js"></script>
</body>
</html>
